*.pyc
*.png
*.jpg
logs
android-sdk*
settings.properties
*.swp
build
run
sampleApps/goatdroid
lib/plyj/lextab.py
test/.coverage
.coverage
parsetab.py
sampleApps
lextab.py
qark/test/testData/*
.idea
.DS_Store
